**Machine Learning Based Heart Disease Prediction **

**Importing the Dependecies**

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler

**Data Collection and Processing**

In [ ]:
# Loading the csv data to a Pandas DataFrame
heart_data = pd.read_csv('heart_disease_data (1).csv')

In [ ]:
# Set the column names explicitly
column_names = heart_data.columns.tolist()
X = heart_data.drop(columns='target', axis=1)
X.columns = column_names[:-1]  # Exclude the last column ('target') as it is the target variable

In [ ]:
# Number of rows and columns in the dataset
heart_data.shape

(303, 14)

In [ ]:
# Getting some info about the data
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [ ]:
# Checking for missing values
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [ ]:
# Statistical measures about the data
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

**Splitting the Features and Target**

In [ ]:
# Defining the target variable Y
Y = heart_data['target']

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [ ]:
# Scale the data using StandardScaler while keeping the column names
scaler = StandardScaler()
ct = ColumnTransformer(transformers=[('num', scaler, X.columns)])
X_train_scaled = ct.fit_transform(X_train)
X_test_scaled = ct.transform(X_test)

**Model Training**

**Logistic Regression**

In [ ]:
# Increase the number of iterations for LogisticRegression
model = LogisticRegression(max_iter=1000)
# Training the LogisticRegression model with Training data
model.fit(X_train_scaled, Y_train)

LogisticRegression(max_iter=1000)

**Model Evaluation**

**Accuracy Score**

In [ ]:
# Accuracy on training data
X_train_prediction = model.predict(X_train_scaled)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
print('Accuracy on Training data:', training_data_accuracy)

Accuracy on Training data: 0.8471074380165289

In [ ]:
# Accuracy on test data
X_test_prediction = model.predict(X_test_scaled)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print('Accuracy on Test data:', test_data_accuracy)

Accuracy on Test data: 0.7868852459016393

**Building a Predictive System **

In [ ]:
# Input data for prediction (using the scaled data)
input_data = [57,	0,	0	,120,	354,	0,	1,	163,	1,	0.6,	2,	0,	2]

# Convert the input data to a DataFrame and use the ColumnTransformer to scale it
input_data_df = pd.DataFrame([input_data], columns=X.columns)
input_data_scaled = ct.transform(input_data_df)

prediction = model.predict(input_data_scaled)
if prediction[0] == 0:
    print('The Person does not have Heart Disease')
else:
    print('The Person has Heart Disease')

The Person has Heart Disease